@media (max-width: 992px) {
    .hero-container {
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
    }
    .hero-desc {
        margin: 0 auto 40px auto;
    }
    .hero-btns {
        justify-content: center;
    }
    .hero-illustration {
        display: none; /* Mobile silliqligi uchun */
    }
}

@media (max-width: 768px) {
    .nav-menu {
        display: none; /* JS bilan boshqariladi */
    }
}